* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
    margin: 0; /* Ingen kanter i siden af browser */
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {

    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}


/*
primary
secondary
 */

.bg-primary{
    background-color: black;
}

.bg-secondary{
    background-color: #FDDFD8;
}

.text-primary{
    color: white;
}


.text-secondary{
    color:#FDDFD8 ;
}


.container >.row{
    margin-top: 10rem;
}


.container, .row [class*='col']{
    transition: max-width .3s ease-in-out;
}
.container-fluid{
    height: 250px;

}


/*Topbar*/



.logo{
    width: 100px;
}

.logo-text{
    font-family: "Ink Free";
    font-size: 15px;
    letter-spacing: 5px;
    color: #FDDFD8;
}

.nav{
    transition: max-height .2s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.nav.show{
    transition: max-height .2s ease-in-out;
    max-height: 100vh;
}

.toggle{
    cursor:pointer;
}

.fa-bars{
    color: white;
}


a {
    text-decoration: none;
    color: #FDDFD8;
}


@media all and (min-width: 992px){
    .nav{
        max-height: none;
    }

}
















                                /*Container-fluid med ansigt og velkommen-tekst*/
.face-pic2{
    width: 250px;
}

.container-fluid{
    height: 250px;

}

.welcome-text{
    font-family: "ink free";
    font-size: 30px;
    color: white;
    margin-top: 4rem;

}

.welcome-small-text{
    font-family: "Segoe UI italic";
    font-size: 14px;
    color: white;
    margin-top: 1rem;
    line-height: 20px;
}


                                 /*About-container med om mig tekst + portræt*/

.About-container,h1{
    font-family: "Ink Free";
    font-size: 40px;
    text-align: center;
    color: white;

}

.About-container,p{
    font-family: "Segoe UI italic";
    font-size: 8px;
    color: white;
    letter-spacing: 1px;
    line-height: 10px;

}

.About-container{
    display: flex;


}

.portræt-pic{
    height: 126px;
    width: 127px;
    border-radius: 100%;
    justify-content: center;
    display: flex;
    margin: 2rem;

}

.About-text{
    font-size: 8px;
    font-family: "Segoe UI italic";
    color: white;
}



                                              /*Skills-container*/

.icon{
    color: white;
    margin-top: 1rem;
    font-size: 40px;
}

.skills-p{
    color: white;
    font-family: "Segoe UI italic";
    font-size: 12px;
    justify-content: center;
    margin-top: 1rem;
    padding: 15px;
    line-height: 15px;
}

.skills-h3{
    color: white;
    font-family: "Ink Free";
    font-size: 16px;
    justify-content: center;
    margin-top: 1rem;
}
.skills-text {
    color: white;
    font-family: "Ink Free";
    font-size: 50px;
    justify-content: center;
    margin-top: 1rem;
}


                                       /*Projects-container små bokse med projekt-logoer*/


.project-container{
    height:200px;
}

.p-pic{
    width: 100px;
    height: 100px;
}

.link-p-side{
    text-decoration: none;
    color: white;
    font-family: "Ink Free";
    font-size: 10px;
    margin: 0.5rem;
}



                                                    /*Contact-info på frontpage*/

.c-box{
    background-color: #FDDFD8;
    margin: 0.5rem;
    border:#FDDFD8;


}

.contact-text{
    font-family: "Ink Free";
    font-size: 15px;
}

.info-conatiner{
   height: 20px;
    width: 310px;
}
.message-container{
    height: 40px;
    width: 310px;
}

.Send{
    width: 310px;
}

.Send-container{
    text-decoration: none;
    color: black;
    font-family: "Ink Free";
    font-size: 15px;
    padding: 10px 20px;

}

.labelInput{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    margin: 10px 30px;
    text-align: center;
    align-items: center;
}

.contact-me-text{
    font-family: "Ink Free";
    font-size: 40px;
    margin: 0;
}

.contact-me-p{
    font-family: "Segoe UI italic";
    font-size: 12px;
    padding: 30px;
    line-height: 15px;

}



                                        /*Send-side*/
.tom-box{
    height: 200px;
}


.p-s-side{
    font-size: 20px;
    height: 100px;
    font-family: "Ink Free";
    color: white;
}

.a-s-side{
    font-family: "Segoe UI italic";
    font-size: 20px;
    color: white;
    text-decoration: none;
}



                                                               /*Project-side*/


.project-pic{
    width: 100px;
    height: 100px;
}

.text-center2{
    font-family: "Ink Free";
    font-size: 45px;
    color: white;
}
.NFR-link{
    padding: 10px;
}


.website-links{
    color: #FDDFD8;
    font-weight: bold;
}
.project-container2{
    height: 800px;
}

.SoMe-text{
    font-family: "Ink Free";
    font-size: 12px;

}

.p-text2{
    font-family: "Segoe UI italic";
    font-size: 8px;
    margin-top: 3px;

}

.space{
    margin:2rem;

}

.Cherry-branch-left2{
    width: 200px;
}

.Cherry-branch-right2{
width: 200px;
    margin-top: 15px;
}

.contactme-container{
    height: 200px;
    margin-top: 5rem;

}

.link-c{
    font-family: "Segoe UI Bold";
    font-size: 18px;
}




                                                         /*Footer*/

.footer{
    height: 70px;
    display: flex;
    flex-direction:row ;
    justify-content: right;
    padding: 5px;
    margin-top: 2rem;
}

.Some{
    padding: 5px;
}



                                                        /*Contact-side*/

.contact-text{
    font-family: "Segoe UI italic";
    font-size: 12px;
    padding: 10px;
}







                                                        /*mediaquerries*/



@media all and (min-width: 360px){
                                                       /*Til forside*/
    .text-center2{
        margin-bottom: 15px;
    }

    .About-text{
        line-height: 12px;
        padding: 10px;
    }

    .skills-text{
        font-size: 40px;
    }
}

@media all and (min-width: 768px){
                                                    /*Til forside*/

    .text-center2{
        margin-top: 25px;

    }

    .About-text{
        font-size: 12px;
        line-height: 15px;
        padding: 10px;
    }

    .face-pic2{
        width: 300px;
    }


    .welcome-text{
        font-size: 40px;
    }

    .welcome-small-text{
        font-size: 24px;
    }

    .About-title{
        font-size: 50px;
        margin-bottom: 20px;
    }

    .portræt-pic{

    }

    .portræt-pic{
        height: 243px;
        width: 254px;


    }

    .skills-text{
        font-size: 50px;
    }
}


@media all and (min-width: 1200px){
                                                       /*Til forside*/
    .project-pic{
        width: 146px;
        height: 140px;
    }

    .About-text{
        font-size: 18px;
        line-height: 25px;
    }

    .face-pic2{
        width: 350px;
    }

    .welcome-text{
        font-size: 50px;
    }

    .welcome-small-text{
        font-size: 34px;
    }

    .About-title{
        font-size: 60px;
        margin-bottom: 30px;

    }

    .portræt-pic{
        width: 333px;
        height: 329px;
    }

    .skills-text{
        font-size: 60px;
    }
}